# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:8080" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Gotenberg
GOTENBERG_URL=http://localhost:3030
GOTENBERG_USERNAME=user
GOTENBERG_PASSWORD=pass

# Database
DATABASE_URL=

# Redis
REDIS_URL=

# Cloudflare
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=

# Google
GOOGLE_GENERATIVE_AI_API_KEY=

# Jina.ai
JINA_API_KEY=